<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/music-player.png" alt="...">
    </figure>
  </div>
  <div class="card-content bounce-hover">
    <p class="subtitle is-6">{{ card.type }}</p>
    <p class="title is-4">{{ card.title }}</p>
    {%- if card.description %}<p class="">{{ card.description }}</p>{%- endif %}
    {%- if card.download_url %}<a class="" href="{{ card.download_url }}">Download</a>{%- endif %}
    {%- if card.demozoo_url %}<a class="" href="{{ card.demozoo_url }}">Demozoo</a>{%- endif %}
  </div>
</div>