
          <div class="card pointer"
          {{- if card.title }}data-slug='{{ card.title | slugify }}'{{- endif }}
          {{- if card.download }}data-download='{{ card.download }}'{{- endif }}
          {{- if card.demozoo }}data-demozoo='{{ card.demozoo }}'{{- endif }}
          {{- if card.credits }}data-credits='{{ card.credits | jsonify }}'{{- endif }}
          {{- if card.image }}data-image='{{ card.image }}'{{- endif }}
          {{- if card.description }}data-description='{{ card.description }}'{{- endif }}
          >
            {%- if card.image %}
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ card.card_image }}" alt="...">
              </figure>
            </div>
            {%- endif %}
            <div class="card-content aligned-vertically bounce-hover">
              <div>
                <p class="subtitle">{{ card.type }} / {{ card.platform }}</p>
                <p class="title">{{ card.title }}</p>
                <nav class="level">
                  <div class="level-item">
                    <button class="button js-modal-trigger is-outlined is-rounded" data-target="modal-overlay">Show Infos</button>
                  </div>
                </nav>
              </div>
            </div>
          </div>