{%- assign values = "" | split: "" %}

{%- comment %}
  Extract value from type and platform
{%- endcomment %}
{%- assign key = type | downcase %}
{%- for item in feed %}
  {%- if key == "type" %}
    {%- assign values = values | push: item.type %}
  {%- elsif key == "platform" %}
    {%- assign values = values | push: item.platform %}
  {%- endif %}
{%- endfor %}

{%- comment %} 
  Reduce to unique values and sort
{%- endcomment %}
{%- assign keys = "" | split: "" %}
{%- for val in values %}
  {%- unless keys contains val %}
    {%- assign keys = keys | push: val %}
  {%- endunless %}
{%- endfor %}
{%- assign sorted_keys = keys | sort %}

    <div class="select is-small is-rounded is-primary"">
      <select aria-label="{{ type }} Filter" id="{{ type }}Filter">
        <option value="">All {{ type }}s</option>
{%- for key in sorted_keys %}
  {%- if key %}
        <option value="{{ key | downcase }}">{{ key }}</option>
  {%- endif %}
{%- endfor %}
      </select>
    </div>