{%- assign items = max | default: feed.size %}
{%- assign sliced_feed = feed | slice: 0, items %}
{%- assign sorted_feed = feed | sort: "publishDate" | reverse %}
      <div class="posts">
        {%- for item in sorted_feed %}
        <div class="columns">
          <div class="column is-one-fifth">
            <figure class="image is-1by1">
              <img src="{{ item.post_image }}" alt="...">
            </figure>
          </div>
          <div class="column">
            <div>
              <a href="/news/{{ item.slug }}/">
                <h2 class="title">{{ item.title }}</h2>
              </a>
              <p class="is-size-5">{{ item.teaser }}</p>
              {%- comment %} 
              <p class="date">{{ item.publishDate }}</p> 
              {%- endcomment %}
              </div>
          </div>
        </div>
        {%- endfor %}
      </div>