{%- assign items = max | default: feed.size %}
{%- assign sorted_feed = feed | sort: "publishDate" | reverse %}
{%- assign sliced_feed = sorted_feed | slice: 0, items %}
      <div class="posts">
        {%- for item in sliced_feed %}
        <div class="columns">
          <div class="column is-one-fifth">
            <figure class="image">
              <img src="{{ item.post_image }}" alt="image of {{ item.title }}" width="480" loading="lazy">
            </figure>
          </div>
          <div class="column">
            <div>
              <a href="/news/{{ item.slug }}/">
                <h2 class="title">{{ item.title }}</h2>
              </a>
              <p class="is-size-5">{{ item.teaser }}</p>
              {%- comment %} 
              <p class="date">{{ item.publishDate }}</p> 
              {%- endcomment %}
              </div>
          </div>
        </div>
        {%- endfor %}
      </div>