{%- assign items = max | default: feed.size %}
{%- assign sliced_feed = feed | slice: 0, items %}
      <div class="posts">
        {%- for item in sliced_feed %}
        <article class="media columns is-multiline is-mobile" data-type="{{ item.type | downcase }}" data-platform="{{ item.platform | downcase }}">
          <figure class="media-left is-4by3 column is-one-fifth">
            <img src="{{ item.card_image }}" alt="...">
          </figure>
          <div class="media-content column">
            <a href="/news/{{ item.slug }}/">
              <div class="content">
                <h2 class="title">{{ item.title }}</h2>
                <p>{{ item.body }}</p>
                <p class="date">{{ item.publishDate }}</p>
              </div>
            </a>
          </div>
        </article>
        {%- endfor %}
      </div>