<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.metadata.description }}">
    <meta name="keywords" content="{{ site.metadata.keywords }}">
    <title>{{ site.metadata.title }}</title>
    <link rel="canonical" href="{{ site.domain }}{{ page.url  }}">
    {%- if site.prodenv %}
    <link rel="stylesheet" href="/css/main.min.css">
    {%- else %}
    <link rel="stylesheet" href="/css/index.css">
    {%- endif %}
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <div class="site-container">
{% include "sections/header.liquid" %}
{{content}}
{% include "sections/footer.liquid" %}
    </div>
  </body>
</html>
